/* @media only screen and (min-device-width: 414px) and (max-device-width: 834px) { */
/* @media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
article > * { width: calc(100% - 40px); }
} */

@media all and (max-width: 1440px) {

}

@media all and (max-width: 414px) {
  h1 {
    font-size: 4rem;
  }
  .menu {
    width: 9vw;
    height: 9vw;
  }
  .top, .right, .bottom, .left, .center {
    position: absolute;
    width: 4vw;
    height: 4vw;
  }
  .object {
    top: 15%;
    left: 15%;
  }
