/* @media only screen and (min-device-width: 414px) and (max-device-width: 834px) { */
/* @media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
article > * { width: calc(100% - 40px); }
} */

@media all and (max-width: 1440px) {

}

@media all and (max-width: 414px) {
  h1 {
    font-size: 4rem;
  }
  .menu {
    width: 11vw;
    height: 11vw;
  }
  .top, .right, .bottom, .left, .center {
    position: absolute;
    width: 4vw;
    height: 4vw;
  }
  .top, .bottom {
    left: 3vw;
  }
  .left, .right {
    top: 3vw;
  }
  .bottom {
    top: 6vw;
  }
  .right {
    left: 6vw;
  }
  .center {
    top: 3vw;
    left: 3vw;
  }
  .object {
    top: 15%;
    left: 15%;
  }
  .screen_3 {
    flex-direction: column;
  }
.container {
  width: 60vw;
  margin: 0 auto;
}
