/* ПЕРЕМЕННЫЕ */
:root {
  --pink: #FF6EFD;
  --blue: #1C39FF;
  --yellow: #FED700;
  --white: #FFF;
  --black: #000;
}
/* КУРСОР */
html {
cursor: crosshair;
}
/* СТИЛИ ТЕКСТА */
h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 7.8rem;
  color: var(--white);
}



@keyframes typing {
  0%, 27% { content: ""; }
  1%, 26% { content: "ф"; }
  2%, 25% { content: "фо"; }
  3%, 23% { content: "фор"; }
  4%, 22% { content: "форм"; }
  5%, 21% { content: "формо"; }
  6%, 20% { content: "формой"; }
  7%, 19% { content: "формой2"; }
  9%, 18% { content: "формой21"; }
  10%, 17% { content: "формой213"; }

  30%, 51% { content: ""; }
  31%, 50% { content: "ц"; }
  33%, 49% { content: "цв"; }
  34%, 47% { content: "цве"; }
  35%, 46% { content: "цвет"; }
  36%, 45% { content: "цвето"; }
  37%, 44% { content: "цветом"; }

  54%, 75% { content: ""; }
  55%, 74% { content: "ц"; }
  56%, 72% { content: "цв"; }
  58%, 71% { content: "цве"; }
  59%, 70% { content: "цвет"; }
  60%, 69% { content: "цветом"; }
  61%, 68% { content: "цветом1"; }

  78%, 96% { content: ""; }
  79%, 95% { content: "ц"; }
  80%, 94% { content: "цв"; }
  82%, 93% { content: "цве"; }
  83%, 92% { content: "цвет"; }
  84%, 91% { content: "цвето"; }
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.typewriter {
  --caret: currentcolor;
}
.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}
.typewriter::after {
  content: "";
  border-right: 3px solid var(--caret);
  animation: blink 0.5s linear infinite;
}
@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  @keyframes sequencePopup {
    0%, 100% { content: "формой2"; }
    25% { content: "синтезом"; }
    50% { content: "цветом"; }
    75% { content: "формой"; }
  }

  .typewriter::before {
    content: "формой";
    animation: sequencePopup 12s linear infinite;
  }
}
h2 {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--white);
}
p {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 1.3rem;
}
body {
  background: var(--blue);
  background-image: url(../img/grid.svg);
}
.scene {
  width: 100vw;
  height: 70vh;
}
.scene > div {
  position: absolute;
  bottom: 0;
}
.flowers1 {
  width: 100%;
}
.flowers2 {
  width: 100%;
}
.flowers3 {
  width: 100%;
}
.flowers4 {
  width: 100%;
}
.fill {
  z-index: 1;
}
.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px var(--white);
  z-index: 100;
}
.spring_pink {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
}
.bulb {
  width: 40vw;
  z-index: 5;
}
.object {
  position: absolute;
  top: 30%;
  left: 30%;
}
.container{
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: 25% 15%;
  height: 500px;
}
.rgb-slider{
  width: 42%;
  margin: 10%;
  padding: 40px;
  box-sizing: border-box;
  background: var(--pink);
}
.show-color{
  width: 30%;
  height: 200px;
  border: 3px solid var(--blue);
  margin: 10%;
  box-sizing: border-box;
  background: var(--white);
}

.color-value{
  width:95%;
  margin:10px auto;
  text-align: center;
  border:1px solid var(--blue);
  clear: both;
  background: black;
  padding: 30px;
  box-sizing: border-box;
}
input[type="range"]{
  width: 80%;
  margin: auto;
  height: 30px;
}
p {
  font-size: 30px;
  color: rgb(251, 251, 251);
  padding: 0px;
  margin: 0px;
}
.menu {
  position: relative;
  width: 5vw;
  height: 5vw;
  margin: 1.563vw 0 0 89.583vw;
}
.top, .right, .bottom, .left, .center {
  position: absolute;
  width: 2vw;
  height: 2vw;
  border: 0.156vw solid var(--white);
  border-radius: 50%;
}
.top, .bottom {
  left: 1.563vw;
}
.left, .right {
  top: 1.563vw;
}
.bottom {
  top: 3.125vw;
}
.right {
  left: 3.125vw;
}
.center {
  top: 1.563vw;
  left: 1.563vw;
  background: var(--pink);
}
.forma {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 5;
  background-image: url(../img/flowers2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.shapes div:nth-of-type(1) {
  top: 10%;
  left: 10%;
}
.shapes div:nth-of-type(2) {
  top: 5%;
  left: 15%;
}
.shapes div:nth-of-type(3) {
  top: 12%;
  left: 8%;
}
.shapes div:nth-of-type(4) {
  top: 12%;
  left: 8%;
}
.shapes div:nth-of-type(5) {
  top: 15%;
  left: 84%;
}
.shapes div:nth-of-type(6) {
  top: 12%;
  left: 45%;
}
.shapes div:nth-of-type(7) {
  top: 12%;
  left: 11%;
}
.shapes div:nth-of-type(8) {
  top: 8%;
  left: 9%;
}
.shapes div:nth-of-type(9) {
  top: 20%;
  left: 15%;
}
.shapes div:nth-of-type(10) {
  top: 22%;
  left: 6%;
}
.shapes div:nth-of-type(11) {
  top: 43%;
  left: 4%;
}
.shapes div:nth-of-type(12) {
  top: 25%;
  left: 14%;
}
.shapes div:nth-of-type(13) {
  top: 45%;
  left: 33%;
}
.shapes div:nth-of-type(14) {
  top: 47%;
  left: 10%;
}
.shapes div:nth-of-type(15) {
  top: 61%;
  left: 50%;
}
.shapes div:nth-of-type(16) {
  top: 22%;
  left: 55%;
}
.shapes div:nth-of-type(17) {
  top: 17%;
  left: 60%;
}
.shapes div:nth-of-type(18) {
  top: 25%;
  left: 45%;
}
.shapes div:nth-of-type(19) {
  top: 14%;
  left: 58%;
}
.shapes div:nth-of-type(19) {
  top: 14%;
  left: 58%;
}
.shapes div:nth-of-type(19) {
  top: 14%;
  left: 58%;
}
.shapes div:nth-of-type(20) {
  top: 18%;
  left: 68%;
}
.shapes div:nth-of-type(21) {
  top: 28%;
  left: 36%;
}
.shapes div:nth-of-type(22) {
  top: 34%;
  left: 42%;
}
.shapes div:nth-of-type(23) {
  top: 46%;
  left: 37%;
}
.shapes div:nth-of-type(24) {
  top: 19%;
  left: 89%;
}
.shapes div:nth-of-type(25) {
  top: 46%;
  left: 78%;
}
.shapes div:nth-of-type(26) {
  top: 16%;
  left: 15%;
}
.shapes div:nth-of-type(27) {
  top: 25%;
  left: 70%;
}
.shapes div:nth-of-type(28) {
  top: 30%;
  left: 78%;
}
.shapes div:nth-of-type(29) {
  top: 32%;
  left: 48%;
}
.shapes div:nth-of-type(30) {
  top: 29%;
  left: 29%;
}
.opaque {
  opacity: 0;
}
.box_fruits {
  width: 20vw;
}
.screen_1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  /* height: 100vh; */
}
.screen_2, .screen_3, .screen_4, .screen_5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  /* height: 100vh; */
}
.screen_2 h1 {
  position: absolute;
  top: 10%;
  text-align: center;
  animation: heading 10s ease-in-out infinite;
}
.screen_3 h1 {
  position: absolute;
  top: 15%;
  text-align: center;
  animation: heading 10s ease-in-out infinite;
}
.screen_3 h2 {
  position: absolute;
  top: 15%;
  left: 10%;
}
.screen_4 h1 {
  position: absolute;
  top: 15%;
  text-align: center;
  animation: heading 10s ease-in-out infinite;
}
.screen_5 h1 {
  position: absolute;
  top: 15%;
  text-align: center;
  animation: heading 10s ease-in-out infinite;
}
@keyframes heading {
  0% {right: 0;}
  50% {right: 100%;}
  100% {right: 0;}
