/* ПЕРЕМЕННЫЕ */
:root {
  --pink: #FF6EFD;
  --blue: #1C39FF;
  --yellow: #FED700;
  --white: #FFF;
  --black: #000;
}
/* КУРСОР */
html {
cursor: crosshair;
font-size: 14px;
}
/* СТИЛИ ТЕКСТА */
h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 7.8rem;
  color: var(--white);
  max-width: 85vw;
}
@keyframes typing {
  0%, 27% { content: ""; }
  1%, 26% { content: "ф"; }
  2%, 25% { content: "фо"; }
  3%, 23% { content: "фор"; }
  4%, 22% { content: "форм"; }
  5%, 21% { content: "формо"; }
  6%, 20% { content: "формой"; }
  7%, 19% { content: "формой2"; }
  9%, 18% { content: "формой21"; }
  10%, 17% { content: "формой213"; }

  30%, 51% { content: ""; }
  31%, 50% { content: "ц"; }
  33%, 49% { content: "цв"; }
  34%, 47% { content: "цве"; }
  35%, 46% { content: "цвет"; }
  36%, 45% { content: "цвето"; }
  37%, 44% { content: "цветом"; }

  54%, 75% { content: ""; }
  55%, 74% { content: "ц"; }
  56%, 72% { content: "цв"; }
  58%, 71% { content: "цве"; }
  59%, 70% { content: "цвет"; }
  60%, 69% { content: "цветом"; }
  61%, 68% { content: "цветом1"; }

  78%, 96% { content: ""; }
  79%, 95% { content: "ц"; }
  80%, 94% { content: "цв"; }
  82%, 93% { content: "цве"; }
  83%, 92% { content: "цвет"; }
  84%, 91% { content: "цвето"; }
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.typewriter {
  --caret: currentcolor;
}
.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}
.typewriter::after {
  content: "";
  border-right: 3px solid var(--caret);
  animation: blink 0.5s linear infinite;
}
@media () {
  .typewriter::after {
    animation: none;
  }
}
h2 {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--white);
}
p {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 1rem;
}
body {
  background: var(--blue);
  background-size: center;
  background-repeat: no-repeat;
}
.scene {
  width: 100vw;
  height: 70vh;
}
.scene > div {
  position: absolute;
  bottom: 0;
}
.flowers1 {
  width: 100%;
}
.flowers2 {
  width: 100%;
}
.flowers3 {
  width: 50%;
}
.flowers4 {
  width: 100%;
}
.fill {
  z-index: 1;
}
.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px var(--white);
  z-index: 100;
}
.spring_pink {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
}
.bulb {
  width: 30vw;
  height: 50vw;
  z-index: 5;
}
.bulb_top, .bulb_bottom {
  width: 30vw;
  height: 12vw;
}
.bulb_bottom {
  margin-top: 20vw;
}

.object {
  position: absolute;
  width: 10vw;
  height: 20vw;
  top: 30%;
  left: 30%;
}
p {
  font-size: 30px;
  color: rgb(251, 251, 251);
  padding: 0px;
  margin: 0px;
}
.menu {
  position: relative;
  width: 5vw;
  height: 5vw;
  margin: 1.563vw 0 0 89.583vw;
}
.top, .right, .bottom, .left, .center {
  position: absolute;
  width: 2vw;
  height: 2vw;
  border: 0.156vw solid var(--white);
  border-radius: 50%;
}
.top, .bottom {
  left: 1.5vw;
}
.left, .right {
  top: 1.5vw;
}
.bottom {
  top: 3vw;
}
.right {
  left: 3vw;
}
.center {
  top: 1.5vw;
  left: 1.5vw;
  background: var(--pink);
}
.forma {
  position: absolute;
  width: 5.208vw;
  height: 5.208vw;
  z-index: 5;
  background-image: url(../img/flowers2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.box_fruits {
  width: 20vw;
}
.grid {
  height: 100vh;
  margin: auto;
  border: 25px solid var(--blue);
  border-radius: 3rem;
  outline: 1px solid #fff;
  outline-offset: -26px;
  background:
   linear-gradient(to top, #fff 1px, transparent 1px)
   repeat 0 0 / 100% 75px,
   linear-gradient(to right, #fff 1px, transparent 1px)
   repeat 0 0 / 75px 100%;

}
.screen_2, .screen_3, .screen_4, .screen_5 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.screen_5 {
  overflow: hidden;
}
.screen_1 h1 {
  margin-left: 3vw;
}
.screen_2 h1 {
  position: absolute;
  top: 10%;
  text-align: center;
  animation: heading 10s ease-in-out infinite;
}
.screen_3 h1 {
  position: absolute;
  top: 15%;
  text-align: center;
  animation: heading 10s ease-in-out infinite;
}
.screen_3 h2 {
  position: relative;
  margin: 5vw;
}
.screen_4 h1 {
  position: absolute;
  top: 15%;
  text-align: center;
  animation: heading 10s ease-in-out infinite;
}
.screen_5 h1 {
  position: absolute;
  top: 15%;
  text-align: center;
  animation: heading 10s ease-in-out infinite;
}
.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 19vw;
}
.container>div {
  position: absolute;
  top: 11vw;
  left: 6vw;
  display: flex;
  height: 17vw;
  width: 17vw;
  justify-content: center;
}
/* ЭЛЕМЕНТ, КОТОРЫЙ ДАЕТ ЦВЕТНУЮ ТЕНЬ */
.container>div>div {
  position: absolute;
  display: flex;
  width: 1px;
  height: 1px;
  margin-top: 8vw;
}
div>div.button {
  /* position: absolute; */
  display: flex;
  margin-left: 15vw;
  /* bottom: 0px; */
  padding-top: 5px;
  height: 10vw;
}
div>.button>span {
  display: flex;
  width: 10vw;
  height: 10vw;
  margin-top: 200px;
  margin-left: 0.5vw;
}
/* КНОПКИ С ЦВЕТОМ */
div>.button>span:nth-child(1) {
  background-color: green;
}
div>.button>span:nth-child(2) {
  background-color: red;
}
div>.button>span:nth-child(3) {
  background-color: blue;
}
div>.button>span:nth-child(4) {
  background-color: yellow;
}
.green {
  box-shadow: 0 0 0 8.073vw green;
  mix-blend-mode: hue;
}
.red {
  box-shadow: 0 0 0 8.073vw red;
  mix-blend-mode: hue;
}
.blue {
  box-shadow: 0 0 0 8.073vw blue;
  mix-blend-mode: hue;
}
.yellow {
  box-shadow: 0 0 0 8.073vw yellow;
  mix-blend-mode: hue;
}
.synt_path {
  margin: 0 auto;
}
.frame_running {
  z-index: 5;
}
.frame {
  width: 400px;
  height: 400px;
  background-image: url("../img/sprite_watermelon.png");
  animation: sprite_watermelon 2s steps(1) infinite;
  animation-play-state: running;
  z-index: 2;
}
.frame_2 {
  width: 400px;
  height: 400px;
  background-image: url("../img/sprite_tomato.png");
  animation: sprite_tomato 2s steps(1) infinite;
  animation-play-state: running;
  z-index: 2;
}
.stop {
  animation-play-state: paused;
}
.caption {
  position: absolute;
  top: 12vw;
  left: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 3vw;
  background: var(--blue);
  border: 3px solid var(--white);
  border-radius: 2vw;
  z-index: 3;
}
.tomato {
  top: 12vw;
  left: 20vw;
}
.running div {
  width: 35vw;
  height: 35vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.right_light {
  background-image: url('../img/right_light.png');
}
.left_light {
  background-image: url('../img/left_light.png');
}
.left_bottom_light {
  background-image: url('../img/left_bottom_light.png');
}
.right_bottom_light {
  background-image: url('../img/right_bottom_light.png');
}
.running {
  display: flex;
  width: 200vw;
  left: 0vw;
  top: 10vw;
  animation: horizontal 5s infinite linear;
}
.running2 {
  display: flex;
  width: 200vw;
  left: 200vw;
  top: 10vw;
  animation: horizontal 5s infinite linear;
}
@keyframes horizontal {
  0% {transform: translate(0, 0);}
  100% {transform: translate(-100%, 0);}
}
@keyframes heading {
  0% {right: 0;}
  50% {right: 100%;}
  100% {right: 0;}
}
@keyframes sprite_watermelon {
  0% {background-position: -400px;}
  3% {background-position: -800px;}
  9% {background-position: -1200px;}
  12% {background-position: -1600px;}
  15% {background-position: -2000px;}
  18% {background-position: -2400px;}
  21% {background-position: -2800px;}
  24% {background-position: -3200px;}
  27% {background-position: -3600px;}
  30% {background-position: -4000px;}
  33% {background-position: -4400px;}
  36% {background-position: -4800px;}
  39% {background-position: -5200px;}
  42% {background-position: -5600px;}
  45% {background-position: -6000px;}
  48% {background-position: -6400px;}
  51% {background-position: -6800px;}
  54% {background-position: -7200px;}
  57% {background-position: -7600px;}
  60% {background-position: -8000px;}
  63% {background-position: -8400px;}
  66% {background-position: -8800px;}
  69% {background-position: -9200px;}
  72% {background-position: -9600px;}
  75% {background-position: -10000px;}
  78% {background-position: -10400px;}
  81% {background-position: -10800px;}
  84% {background-position: -11200px;}
  87% {background-position: -11600px;}
  90% {background-position: -12000px;}
  93% {background-position: -12400px;}
  96% {background-position: -12800px;}
  99% {background-position: -13200px;}
}
@keyframes sprite_tomato {
  0% {background-position: -400px;}
  12% {background-position: -800px;}
  18% {background-position: -1200px;}
  24% {background-position: -1600px;}
  30% {background-position: -2000px;}
  36% {background-position: -2400px;}
  42% {background-position: -2800px;}
  48% {background-position: -3200px;}
  54% {background-position: -3600px;}
  60% {background-position: -4000px;}
  66% {background-position: -4400px;}
  72% {background-position: -4800px;}
  78% {background-position: -5200px;}
  84% {background-position: -5600px;}
  90% {background-position: -6000px;}
}
